body {
  background-color: #574461; /* Мягкий серо-голубой фон */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Отступ снизу для разделения с остальным контентом */
}

.header-container h1 {
  margin-right: 20px; /* Отступ между заголовком и изображением */
  color: white;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


h1, h3 {
  color: white;
}

.task-list {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}

.task-list li:last-child {
  border-bottom: none;
}

button {
  margin-left: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #300919;
  color: white;
  cursor: pointer;
}

.task-list button:hover {
  background-color: #0056b3;
}

.date-picker {
  margin-bottom: 20px;
}